.App {
  width: 80%;
  margin: 50px auto;
}

.grid {
  display: flex;
  flex-direction: column;
}



.image img {
  width: 100%;
}


.App .search {
  margin-bottom: 20px;
  
}

.App .search input[type="text"] {
  margin-right: 10px;
}

@media screen and (min-width:500px) {
  .grid {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .grid .image {
    width: 45%;
    margin:0 10px 0 0 ;
  }
}
@media screen and (min-width:1024px) {
  .grid .image {
    width: 30%;
    margin:0 10px 0 0 ;
  }
}