.App {
  width: 80%;
  margin: 50px auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.grid .image {
  width: 30%;
  height: 300px;
  margin: 10px 0;
}

.image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}


.App .search-filter {
  display: flex;
  justify-content: space-between;
}